$blue: #2d4189;
$darkblue: #211855;
$lightblue: #5eb7f4;
$grey: #f1f1f0;
$purple: #5d4999;
$salmao: #cf6367;

@import "./menu_mobile";

@font-face {
  font-family: 'Lufga Bold Italic';
  src: url('fonts/Lufga-BoldItalic.woff2') format('woff2'),
      url('fonts/Lufga-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga Black';
  src: url('fonts/Lufga-Black.woff2') format('woff2'),
      url('fonts/Lufga-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga Black Italic';
  src: url('fonts/Lufga-BlackItalic.woff2') format('woff2'),
      url('fonts/Lufga-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga Bold';
  src: url('fonts/Lufga-Bold.woff2') format('woff2'),
      url('fonts/Lufga-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga ExtraBold';
  src: url('fonts/Lufga-ExtraBold.woff2') format('woff2'),
      url('fonts/Lufga-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga ExtraBold Italic';
  src: url('fonts/Lufga-ExtraBoldItalic.woff2') format('woff2'),
      url('fonts/Lufga-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga ExtraLight';
  src: url('fonts/Lufga-ExtraLight.woff2') format('woff2'),
      url('fonts/Lufga-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga ExtraLight Italic';
  src: url('fonts/Lufga-ExtraLightItalic.woff2') format('woff2'),
      url('fonts/Lufga-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga Light';
  src: url('fonts/Lufga-Light.woff2') format('woff2'),
      url('fonts/Lufga-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga Italic';
  src: url('fonts/Lufga-Italic.woff2') format('woff2'),
      url('fonts/Lufga-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga Medium Italic';
  src: url('fonts/Lufga-MediumItalic.woff2') format('woff2'),
      url('fonts/Lufga-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga Medium';
  src: url('fonts/Lufga-Medium.woff2') format('woff2'),
      url('fonts/Lufga-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga Light Italic';
  src: url('fonts/Lufga-LightItalic.woff2') format('woff2'),
      url('fonts/Lufga-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga';
  src: url('fonts/Lufga-Regular.woff2') format('woff2'),
      url('fonts/Lufga-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga SemiBold';
  src: url('fonts/Lufga-SemiBold.woff2') format('woff2'),
      url('fonts/Lufga-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga Thin';
  src: url('fonts/Lufga-Thin.woff2') format('woff2'),
      url('fonts/Lufga-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga SemiBold Italic';
  src: url('fonts/Lufga-SemiBoldItalic.woff2') format('woff2'),
      url('fonts/Lufga-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga Thin Italic';
  src: url('fonts/Lufga-ThinItalic.woff2') format('woff2'),
      url('fonts/Lufga-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}



body {    
  background: #f8f8f9; 
  font-family: "Lufga", sans-serif;   
  padding: 0;
  margin: 0;

  @media(orientation:landscape){
    padding-top: 115px;       
  }
}

*{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5{
  //font-family: 'Montserrat', sans-serif;
}

img{
  max-width: 100%;
  height: auto;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a{
  color: $blue;
  text-decoration: none;
}

a.btn{
  display: inline-block;
  background: $lightblue;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  padding: 7px 21px;
  transition: all .3s ease;

  &:hover{
    background: $darkblue;
  }
}

.button{
  color: #fff;
  background: $blue;
  padding: 7px;
  border-radius: 7px;
  border: none;
  width: 100%;
  max-width: 300px;
  margin: 15px auto;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover{
    background: $darkblue;
  }
}

.container{
  max-width: 1360px;
  margin: 0 auto;

  @media(orientation:portrait){
    padding: 7%;
  }
}

/* tabs */
#block-retailmediafc-primary-local-tasks{
  @media(orientation:portrait){
    display: none;
  }
  ul{
    display: flex ;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    width: 100%;

    li{
      a{
        display: inline-block;
        padding: 10px 20px;
        background: #fff;
        color: #222;        
        border-top-left-radius: 7px;
        border-top-right-radius: 7px; 
        margin: 0 5px;
        border-top: 2px solid #ccc;
        border-left: 2px solid #ccc;
        border-right: 2px solid #ccc;

        &:hover{
          background: $blue;          
          color: #fff;
        }
      }
    }
  }

}

.messages__wrapper{
  background: #cdf6cd;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;

  .messages--status:nth-child(2){
    display: none;
  }
}

div[role="alert"]{
  padding: 15px 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  background: #f6cdcd;
}

table{
  width: 100%;
  background: #fff;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
  overflow: hidden;
  font-size: 16px;

  thead{
    background: #000;
    th{      
      padding: 15px !important;
      color: #fff !important;
      a{
        color: #fff !important;

        &:hover{
          color: $blue !important;
        }
      }
    }   
  }

  tbody{
    tr{
      td{
        padding: 15px !important;
  
        a{
          color: $darkblue;
  
          &:hover{
            text-decoration: underline;
            color: #000;
          }
        }
      }

      &:hover{
        td{
          background-color: #f5f5f5 !important;
        }
      }
    }    
  }
}

form{
  input{
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px; 
    margin-bottom: 20px; 
    
    @media(orientation:landscape){
      max-width: 500px;
    }
  }
}

/*--- MAIN HEADER ------------------------------------------------------------------------------------------------------------------------------*/
header#mainheader{
  width: 100%;
  background: #f8f8f9;  
  margin: 0;  

  @media(orientation:landscape){
    padding: 10px 0 0 0;  
    height: 115px;
    position: fixed;
    z-index: 50;
    top: 0;    
    left: 0; 
    width: 100%;
  }

  #block-retailmediafc-main-menu,
  #block-retailmediafc-account-menu{
    @media(orientation:portrait){
      display: none;
    }
  }
  
  .container{
    > div{
      display: flex;
      align-items: center;      
      justify-content: end;
      position: relative;
      min-height: 110px;

      @media(orientation:portrait){
        min-height: 65px;
      }

      #block-retailmediafc-site-branding{
        position: absolute;        
        left: 0;
        top: 0; 

        @media(orientation:portrait){
          top: 0;
        }      

        img{
          max-width: 78px;

          @media(orientation:portrait){
            max-width: 58px;
          }
        }
      }

      ul{
        display: flex;
        align-items: center;
        justify-content: end;

        li{
          margin-left: 25px;
          a{
            text-transform: uppercase;
            text-transform: uppercase;
            font-weight: 800;      
            letter-spacing: 1px; 
            color: $purple;

            &:hover{
              color: $darkblue;
            }

            &[data-drupal-link-system-path="user/login"],
            &[data-drupal-link-system-path="user/logout"]{
              color: #fff;
              background: $salmao;
              font-weight: 800;
              padding: 7px 15px;

              &:hover{
                background-color: $darkblue;
              }
            }
          }
        }
      }
    }
  }
}

/*--- TOP BAR ---------------------------------------------------*/
.top{
  width: 100%;
  background: $blue;
  padding: 0;
  margin: 0;
  min-height: 200px; 
}

/*--- EXTRAS TOP ---------------------------------------------------*/
.extras-top{
  width: 100%;  
  padding: 0;
  margin: 20px 0;  

  .container{
    @media(orientation:portrait){
      padding: 0;
    }
  }
}

/*--- MAIN CONTENT -----------------------------------------*/
main{
  .container{
    @media(orientation:portrait){
      display: flex;
      flex-direction: column;
    }

    .content{
      @media(orientation:portrait){
        width: 100%;
      }
    }

    .sidebar{
      @media(orientation:portrait){
        width: 100%;
      }
      img{
        margin-bottom: 20px;
      }

      .block{
        margin-bottom: 20px;

        .cadastrese{          
            background: #002a61;
            padding: 3% 7%;
            border-radius: 5px;
            max-width: 500px;
            position: relative;

            .webform-confirmation__message{              
              padding: 20px;
              background: #f5f5f5;
              font-size: 16px;
              line-height: 24px;     
            }

            .webform-confirmation__back{
              display: none !important;
            }
        
            h2{          
              text-transform: uppercase;          
              text-transform: uppercase;
              font-weight: 500;
              font-style: italic;
              color: #fff;      
              margin: 20px 0;    
              font-size: 17px;   
              line-height: 22px;
              text-align: center;
              
              strong{
                font-weight: 700;
              }
            }
        
            form{
              display: flex;
              gap: 20px;
              position: relative;
              margin-bottom: 85px;
              flex-direction: column;
             
              input{
                padding: 10px 12px 9px 12px;
                font-size: 16px;
                border-radius: 0;        
                margin-bottom: 0;   
                border: 2px solid $lightblue; 
              }
        
              input#edit-submit{
                margin: 0;
                padding: 13px 35px;
                font-weight: 800;
                background: #c1272d;
                border-radius: 0;
                border: 2px solid #c1272d;
                transition: all .3s ease;
                border-radius: 0;      
                width: 100%;  
                max-width: 100%;
                border: none;
        
                &:hover{
                  background: #000;              
                  cursor: pointer;              
                  border: 2px solid #000;
                }
              }
        
              #edit-aceite--wrapper{    
                width: 100%;
                margin: 0;
                position: absolute;
                left: 0;    
                bottom: -34px;
                color: #fff;
                bottom: -75px;
                color: #fff;
                font-size: 11px;
                
                @media(orientation:portrait){
                  //bottom: -104px;
                }
        
                a{
                  color: $lightblue;
                  text-decoration: underline;
                }
            
                .fieldset-wrapper{
                  display: flex;
                  gap: 0;
            
                  .form-item-aceite-yes{
                    label{
                      display: none;
                    }
                  }
              
                  .js-form-item-aceite-no{
                    display: none;
                  }
                }    
              }
            }
        
            .close{
              position: absolute;
              top: -10px;
              right: -10px;
              text-indent: -5000em;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              border: none;
              background: #222 url(img/ico-close.png) center no-repeat;
              background-size: 14px;
              border: 2px solid #fff;
              cursor: pointer;
            }          
        }
      }
    }
  }
}

/*--- HOME ------------------------------------------------------*/
.node-id-1{
  .top{
    padding: 0 !important;

    img{
      display: block;
    }

    .banners-home{
      .desktop{
        @media(orientation:portrait){
          display: none;
        }
      }
      .mobile{
        @media(orientation:landscape){
          display: none;
        }
      }
    }
  }
  .extras-top{
    display: none;    
  }  
  main{    
    > .container{
      display: flex;      
      
      padding: 20px 0;

      .content{    
        display: flex;
        flex-direction: column;        
    
        @media screen and (orientation:landscape){
          width: 75%;
        }
      }
      aside{
        @media screen and (orientation:landscape){
          width: 20%;
        }
      }

      .noticia-home,
      .artigo-home,
      .agenda-home{     
        background: $lightblue url(img/bg-noticia-home-odd.png) center center no-repeat;   
        background-size: cover;
        width: 100%;
        margin: 0 0 20px 0;
        padding: 20px;        

        .views-row{    
          display: grid;          
          grid-template-columns: 1fr 1fr;
          gap: 20px;
          grid-template-areas:
            "assunto imagem"
            "titulo imagem";
          align-items: end;
          
          @media(orientation:portrait){
            display: block;
          }
            
          .views-field-field-imagem-destacada{
            grid-area: imagem;
            height: 100%;
          }
          .views-field-field-assunto{
            grid-area: assunto;            
            margin-top: 0;
            margin-bottom: 10px;
          }
          .views-field-title{
            grid-area: titulo;
            align-self: start;
            margin-top: 0;
          }
        }

        img{
          @media screen and (orientation:landscape){
            max-width: 490px;
          }
        }

        .views-field-field-assunto,
        .views-field-nothing{
          font-size: 14px;
          text-transform: uppercase;
          margin: 5px 0 10px 0;
          a{            
            
              color: #fff;
              background: $darkblue;
              display: inline-block;
              padding: 5px 10px;              
              font-size: 14px;
              font-weight: 700;
              text-transform: uppercase;              
          
          }
        }
        .views-field-title{
          font-size: 19px;
          margin-top: 0;
          a{
            color: #222;
            font-weight: 700;
            font-size: 22px;
          }          
        }
      }  
      
      .artigo-home{
        background: $lightblue url(img/bg-noticia-home-even.png) center center no-repeat;   
        background-size: cover;

        .views-row{            
          grid-template-areas: 
            "imagem assunto"
            "imagem titulo";       
        }
      }
    }
  }
  
    
    
    .podcast{
      background: $darkblue url(img/bg-podcast-home.webp) center center no-repeat;
      background-size: cover;
      margin-bottom: 40px;
      padding: 20px 0;

      @media(orientation:portrait){
        background: $darkblue url(img/bg-podcast-home-mob.jpg) center center no-repeat;
        background-size: cover;
      }

      .container{
        .row{
          display: flex;
          gap: 20px;

          @media(orientation:portrait){
            flex-direction: column;            
          }

          .col-1{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;

            @media(orientation:portrait){
              width: 100%;
            }  
          }

          .col-2{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;

            @media(orientation:portrait){
              width: 100%;
              margin: 40px 0;
            }  
          }

          .col-3{
            width: 40%;
            display: flex;
            align-items: center;

            @media(orientation:portrait){
              width: 100%;
            }  

            .podcasts-home {
              .field-content{
                display: grid;
                grid-template-columns: 2fr 1fr;
                gap: 20px;
                grid-template-areas:
                  "imagem h3"
                  "imagem titulo";

                @media(orientation:portrait){
                  display: block;
                  text-align: center;
                }

                .imagem{
                  grid-area: imagem;

                  img{
                    border-radius: 10px;
                  }
                }

                h3{
                  grid-area: h3;
                  color: #fff;
                  font-size: 18px;
                  text-transform: uppercase;
                }

                .titulo{
                  grid-area: titulo;                  
                  font-size: 16px;

                  a{
                    color: #fff;
                  }
                }
              }
            }
          }          
        }            
      }
    }

    .banner-mega{
      margin-bottom: 40px;
    }
    
}

// modal de confirmação
.ui-dialog-titlebar{
  text-align: center;
  background: $darkblue;
  .ui-dialog-title{
    width: 100%;
    text-align: center;
    font-size: 21px;
    color: #fff;
  }
}
.webform-confirmation-modal--content{
  padding: 20px 20px 0 20px !important;
  font-size: 17px;
  text-align: center;
}
.ui-widget-overlay{
  background: #000;
}

/*--- LISTA NOTICIAS e ARTIGOS---------------------------------------------------*/
.node-type-page{
  .top{
    background: $blue url(img/bg-top-internas2.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;  
    padding: 100px 0;       

    .container{   
      width: 100%;
      h1{
        color: #fff;
        text-transform: uppercase;        
        font-size: 32px;        
        max-width: 300px;
      }
    }
  }
  main{
    .container{
      @media(orientation:landscape){
        display: flex;
        gap: 40px;
      }

      .content{
        @media(orientation:landscape){
          width: 75%;
        }
        .todos-artigos,
        .todas-noticias{
          margin: 0 0 40px 0;
          h3{
            color: $purple;            
            margin: 0 0 20px 0;
            font-size: 24px;
          }         
          .row{
            background: $lightblue url(img/bg-noticia-home-odd.png) center center no-repeat;   
            background-size: cover;
            width: 100%;
            margin: 0 0 20px 0;
            padding: 20px;     
            @media(orientation:landscape){
              display: flex;
              gap: 20px;
            }            
            .col-1{  
              display: flex;            
              flex-direction: column;
              justify-content: center;
              @media(orientation:landscape){
                width: 50%;
              }
              .data{
                font-size: 14px;
                font-weight: 500;
                margin: 20px 0 10px 0;                
              }
              .titulo{   
                @media(orientation:landscape){
                  max-width: 80%;         
                }
                h4{
                  font-size: 20px;
                  margin: 0 0 10px 0;
                  a{
                    color: #000;
                    font-weight: 700;
                  }
                }
              }
              .chamada{
                margin-bottom: 20px;
              }
              .link{
                a{
                  color: #c1272d;
                  font-weight: 700;

                  &:hover{
                    color: $darkblue;
                  }
                }
              }
            }
            .col-2{
              @media(orientation:landscape){
                width: 50%;
              }
            }
          }
        }        

      }
      .sidebar{        
        @media(orientation:landscape){
          width: 20%;
        }
      }
    }
  }  
}


/*--- Noticia / Artigo / Agenda------------------------------------------------------*/
.node-type-agenda,
.node-type-artigos,
.node-type-noticia,
.node-type-webform{
  .top{
    background: $blue url(img/bg-top-internas2.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;      
    padding: 100px 0;

    @media(orientation:portrait){
      padding: 0;
    }

    .container{   
      width: 100%;
      h3{
        color: #fff;
        text-transform: uppercase;                
        font-size: 32px;        
      }
    }
  }

  main{
    .container{
      @media(orientation:landscape){
        display: flex;
        gap: 40px;
      }

      .content{        
        display: block;
        @media(orientation:landscape){
          width: 75%;
        }

        .mais-noticias{
          margin: 40px 0;
          h3{
            color: $purple;            
            margin: 0 0 20px 0;
            font-size: 24px;
          }         
          .row{
            padding-bottom: 40px;
            margin-bottom: 40px;
            border-bottom: 1px solid #ccc;
            @media(orientation:landscape){
              display: flex;
              gap: 20px;
            }            
            .col-1{  
              display: flex;            
              flex-direction: column;
              justify-content: center;
              @media(orientation:landscape){
                width: 75%;
              }
              .data{
                font-size: 14px;
                font-weight: 500;
                margin: 20px 0 10px 0;                
              }
              .titulo{   
                @media(orientation:landscape){
                  max-width: 80%;         
                }
                h4{
                  font-size: 20px;
                  margin: 0 0 10px 0;
                  a{
                    color: #000;
                    font-weight: 700;
                  }
                }
              }
            }
            .col-2{
              @media(orientation:landscape){
                width: 20%;
              }
            }
          }
        }
      }
      .sidebar{     
        //padding-left: 40px;  
        
        @media(orientation:landscape){
          width: 20%;
        }
        .mais-lidas{
          margin-bottom: 40px;
          h3{
            color: $purple;            
            margin: 0 0 20px 0;
            font-size: 21px;
          }

          .views-row{
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #ccc;

            .views-field-created{
              font-size: 14px;
              font-weight: 700;
              margin: 20px 0 10px 0;
            }
            .views-field-title{            
              a{
                color: #000;
                font-weight: 800;
              }
            }
          }          
        }
      }
    }
  }
}


/*--- LOGIN DO USUARIO -------------------------------------------------------------------------------------------------------------------------*/
.page-user-login {
  background: $blue;

  header, 
  .top, 
  .extras-top,
  .extras-bottom,
  .sidebar,
  #block-retailmediafc-page-title{
    display: none;
  }
  main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    div[aria-label="Mensagem de erro"]{      
      max-width: 350px;           
      text-align: center;

      a{
        font-weight: bold;
        display: inline-block;
        width: 100%;
        color: #000;
        text-decoration: underline;
      }
    }
      
  }
  #user-login-form{   
    width: 100%;
    max-width: 350px;
    padding: 170px 25px 25px 25px;
    border-radius: 7px;
    position: relative;  
    margin-bottom: 20px;
    background: #fff url(img/logo.webp) center 20px no-repeat;
    background-size: 100px;
    
    @media(orientation:portrait){
      max-width: 80%;
      margin: auto 10%;
    }
    
    label{
      display: block;
      width: 100%;
      font-size: 14px;
      font-weight: 700;
    }
    input{
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 7px;
      margin-bottom: 20px;
    }    
    
    .description{
      display: none;
    } 
  }
}


/*--- MAIS PAGINAS INTERNAS ----------------------------------------------------------------------------------------*/
.route-entity-user-canonical,
.route-user-register,
.route-user-pass,
.route-entity-user-edit_form{
  .container{
    max-width: 100%;

    @media(orientation:portrait){      
      padding: 0;
    }

    @media(orientation:landscape){
      display: flex;
      margin: 0;
      padding: 0;
    }
    main{
      padding: 50px;
      background: #f9fafc;
      width: calc(100% - 250px);

      @media(orientation:portrait){
        width: 100%;
        padding: 7%;
      }

      h1{
        font-weight: 700;        
        margin-bottom: 15px;
      }

      .form-item-current-pass{
        display: none;
      }

      .password-confirm-message{
        display: none;
      }

      #user-form,
      #user-pass,
      #edit-field-uf,
      #user-login-form,
      #user-register-form{
        padding: 25px;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
        label{
          display: inline-block;
          width: 100%;
        }
        .form-text,
        .form-email{
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 7px;
          margin-bottom: 20px;

          @media(orientation:portrait){
            max-width: 100%;
          }
        }
        .description{
          display: none;
        }
      }
      #edit-field-uf{
        padding: 10px;
        max-width: 180px;
        margin-bottom: 30px;
      }
    }
  }

  div[role="alert"]{
    display: block;
    padding: 10px;
    border: 2px solid red;

    em[class="placeholder"]{
      background: transparent;
      color: #000 !important;
    }
  }
}

.route-user-register,
.route-entity-user-edit_form{
  background: #000;

  #main-content{
    padding: 50px;
    background: #f9fafc;
    width: calc(100% - 250px);

    @media(orientation:portrait){
      width: 100%;
      padding: 7%;
    }
  }
}

.route-user-register{
  #main-content{
    h1{
      font-weight: 700;
      padding: 10px 0 10px 50px;
      background: transparent url(img/ico-newuser.png) left center no-repeat;
      background-size: 40px;
    }
  }  
}

#edit-status--wrapper,
a#edit-delete{
  display: none;
}

/*--- PAGINA DE UM USUARIO ----------------------------------------------------------------------------------------*/
.route-entity-user-canonical{
  background: #000;
 
  #main-content{
    padding: 50px;      
    background: #f9fafc;
    width: calc(100% - 250px);
  }
  .views-field-field-nome-completo{
    h1{
      font-weight: 700;
      padding: 10px 0 10px 50px;
      background: transparent url(img/ico-user.png) left center no-repeat;
      background-size: 40px;
      margin-bottom: 15px !important;
    }
  }

  
}

/*--- FOOTER ------------------------------------------------------------*/
footer{
  padding: 25px 0;
  background: $darkblue;
  background-size: cover;
  color: #fff;
  .container{
    .row{
      display: flex;
      justify-content: space-between;


      ul.social{
        display: flex;
        gap: 10px;
        li{
          a{
            color: #fff;            
            display: inline-block;
            padding: 10px;
            border-radius: 50%;
            border: 2px solid #fff;
            height: 43px;
            width: 43px;

            &:hover{
              background-color: $purple;
            }

            i{
              font-size: 21px;
              display: inline-block;            
            }

          }
        }
      }
    }
  }
}

/*--- SIDEBAR STICKY ---------------------------------------------------*/
.sidebar {
  transition: transform 0.1s ease;
  
  &.sticky {
    @media(orientation:landscape){
      position: fixed;
      top: 135px; 
    }    
  }
  
  &.bottom {
    @media(orientation:landscape){
      position: relative;
      margin-top: auto;
    }       
  }
}  


/*--- POLITICA DE PROVACIDADE ---*/
.node-id-32{
  .top{
    .container{
      h1{
        max-width: 100%;
      }
    }
  }
}

/*--- SHOPTALK ---*/
.page-node-62{
  .webform-submission-shoptalk-node-62-add-form{
    max-width: 450px;
    margin: 0 0 40px 0;
    //margin: auto;
    label{
      display: inline-block;
      width: 100%;
    }
    input{
      border-radius: 3px;
      margin-bottom: 10px;
    }
    input.form-submit{
      margin: 10px 0 0 0;
      padding: 13px 35px;
      font-weight: 800;
      background: #c1272d;
      border-radius: 0;
      border: 2px solid #c1272d;
      transition: all .3s ease;        
      width: 100%;  
      max-width: 100%;
      border: none;

      &:hover{
        background: #000;              
        cursor: pointer;              
        border: 2px solid #000;
      }
    }
  }
}



/*-------------------------------------*/
/* Correção para o Swiper */
.swiper-container {
  width: 100%;
  overflow: hidden;
  max-width: 100%;
}

.swiper {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  width: auto !important; /* Sobrescreve o estilo inline problemático */
}

.swiper-slide {
  width: 100% !important; /* Forçar largura correta e sobrescrever valor inline */
  max-width: 100%;
  flex-shrink: 0;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}



/*******************************************/

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 50;

  &.active {
      display: flex;
      align-items: center;
      justify-content: center;      
  }

  .content{
    background: #002a61;
    padding: 20px;
    border-radius: 5px;
    max-width: 320px;
    position: relative;

    .webform-confirmation__message{              
      padding: 20px;
      background: #f5f5f5;
      font-size: 16px;
      line-height: 24px;     
    }

    .webform-confirmation__back{
      display: none !important;
    }

    h2{          
      text-transform: uppercase;          
      text-transform: uppercase;
      font-weight: 500;
      font-style: italic;
      color: #fff;      
      margin: 20px 0;    
      font-size: 21px;   
      line-height: 24px;
      text-align: center;
      
      strong{
        font-weight: 700;
      }
    }

    form{
      display: flex;
      gap: 20px;
      position: relative;
      margin-bottom: 85px;
      flex-direction: column;
      
      input{
        padding: 10px 12px 9px 12px;
        font-size: 16px;
        border-radius: 0;        
        margin-bottom: 0;   
        border: 2px solid $lightblue;
      }

      input.form-submit{
        margin: 0;
        padding: 13px 35px;
        font-weight: 800;
        background: #c1272d;
        border-radius: 0;
        border: 2px solid #c1272d;
        transition: all .3s ease;        
        width: 100%;  
        max-width: 100%;
        border: none;

        &:hover{
          background: #000;              
          cursor: pointer;              
          border: 2px solid #000;
        }
      }

      fieldset[data-drupal-selector="edit-aceite"]{    
        width: 100%;
        margin: 0;
        position: absolute;
        left: 0;    
        bottom: -34px;
        color: #fff;
        bottom: -75px;
        color: #fff;
        font-size: 11px;
        
        @media(orientation:portrait){
          //bottom: -104px;
        }

        a{
          color: $lightblue;
          text-decoration: underline;
        }
    
        .fieldset-wrapper{
          display: flex;
          gap: 0;
    
          .form-item-aceite-yes{
            label{
              display: none;
            }
          }
      
          .js-form-item-aceite-no{
            display: none;
          }
        }    
      }
    }

    .close{
      position: absolute;
      top: -10px;
      right: -10px;
      text-indent: -5000em;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: none;
      background: #222 url(img/ico-close.png) center no-repeat;
      background-size: 14px;
      border: 2px solid #fff;
      cursor: pointer;
    }

  }
  
}
