@charset "UTF-8";
/*--------------------------------------------*/
/* menu button */
.menuBtn,
.menuBtn2 {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 45px;
  right: 7%;
  cursor: pointer;
  z-index: 10;
}
@media (orientation: landscape) {
  .menuBtn,
  .menuBtn2 {
    display: none;
  }
}
.menuBtn > span,
.menuBtn2 > span {
  background-color: #cf6367;
  border-radius: 1px;
  height: 4px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1px 0 0 -15px;
  transition: height 100ms;
}
.menuBtn > span:after, .menuBtn > span:before,
.menuBtn2 > span:after,
.menuBtn2 > span:before {
  content: "";
  background-color: #cf6367;
  border-radius: 1px;
  height: 4px;
  width: 100%;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  transition: all 200ms;
}
.menuBtn > span:after,
.menuBtn2 > span:after {
  top: -9px;
}
.menuBtn > span:before,
.menuBtn2 > span:before {
  bottom: -9px;
}

.menuBtn.act > span,
.menuBtn2.act > span {
  height: 0;
}
.menuBtn.act > span:after, .menuBtn.act > span:before,
.menuBtn2.act > span:after,
.menuBtn2.act > span:before {
  top: 1px;
}
.menuBtn.act > span:after,
.menuBtn2.act > span:after {
  transform: rotate(45deg);
}
.menuBtn.act > span:before,
.menuBtn2.act > span:before {
  transform: rotate(-45deg);
}

/* main menu block */
.menu-mobile {
  overflow: hidden;
  background: #f9f9f9;
  top: 0;
  left: -100%;
  z-index: 10;
  width: 94%;
  opacity: 0;
  left: -100%;
  transition: all 0.3s;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}
.menu-mobile img {
  max-width: 75px;
  position: absolute;
  top: 50px;
  left: 10%;
}
.menu-mobile .menuBtn2 {
  left: auto;
  right: 5%;
  top: 70px;
}
@media (orientation: landscape) {
  .menu-mobile .menuBtn2 {
    display: none;
  }
}
.menu-mobile nav {
  width: 90%;
}
.menu-mobile nav ul li a {
  font-size: 18px;
  display: inline-block;
  padding: 5vw 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  font-weight: 700;
}
.menu-mobile .social {
  display: flex;
}
.menu-mobile .social img {
  max-width: 35px;
  margin-right: 20px;
}

.act .menu-mobile {
  opacity: 1;
  padding: 25px;
  left: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}
.overlay.act {
  display: block;
}

@font-face {
  font-family: "Lufga Bold Italic";
  src: url("fonts/Lufga-BoldItalic.woff2") format("woff2"), url("fonts/Lufga-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lufga Black";
  src: url("fonts/Lufga-Black.woff2") format("woff2"), url("fonts/Lufga-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga Black Italic";
  src: url("fonts/Lufga-BlackItalic.woff2") format("woff2"), url("fonts/Lufga-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lufga Bold";
  src: url("fonts/Lufga-Bold.woff2") format("woff2"), url("fonts/Lufga-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga ExtraBold";
  src: url("fonts/Lufga-ExtraBold.woff2") format("woff2"), url("fonts/Lufga-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga ExtraBold Italic";
  src: url("fonts/Lufga-ExtraBoldItalic.woff2") format("woff2"), url("fonts/Lufga-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lufga ExtraLight";
  src: url("fonts/Lufga-ExtraLight.woff2") format("woff2"), url("fonts/Lufga-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga ExtraLight Italic";
  src: url("fonts/Lufga-ExtraLightItalic.woff2") format("woff2"), url("fonts/Lufga-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lufga Light";
  src: url("fonts/Lufga-Light.woff2") format("woff2"), url("fonts/Lufga-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga Italic";
  src: url("fonts/Lufga-Italic.woff2") format("woff2"), url("fonts/Lufga-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lufga Medium Italic";
  src: url("fonts/Lufga-MediumItalic.woff2") format("woff2"), url("fonts/Lufga-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lufga Medium";
  src: url("fonts/Lufga-Medium.woff2") format("woff2"), url("fonts/Lufga-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga Light Italic";
  src: url("fonts/Lufga-LightItalic.woff2") format("woff2"), url("fonts/Lufga-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("fonts/Lufga-Regular.woff2") format("woff2"), url("fonts/Lufga-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga SemiBold";
  src: url("fonts/Lufga-SemiBold.woff2") format("woff2"), url("fonts/Lufga-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga Thin";
  src: url("fonts/Lufga-Thin.woff2") format("woff2"), url("fonts/Lufga-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga SemiBold Italic";
  src: url("fonts/Lufga-SemiBoldItalic.woff2") format("woff2"), url("fonts/Lufga-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lufga Thin Italic";
  src: url("fonts/Lufga-ThinItalic.woff2") format("woff2"), url("fonts/Lufga-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
body {
  background: #f8f8f9;
  font-family: "Lufga", sans-serif;
  padding: 0;
  margin: 0;
}
@media (orientation: landscape) {
  body {
    padding-top: 125px;
  }
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: #2d4189;
  text-decoration: none;
}

a.btn {
  display: inline-block;
  background: #5eb7f4;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  padding: 7px 21px;
  transition: all 0.3s ease;
}
a.btn:hover {
  background: #211855;
}

.button {
  color: #fff;
  background: #2d4189;
  padding: 7px;
  border-radius: 7px;
  border: none;
  width: 100%;
  max-width: 300px;
  margin: 15px auto;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.button:hover {
  background: #211855;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}
@media (orientation: portrait) {
  .container {
    padding: 7%;
  }
}

/* tabs */
@media (orientation: portrait) {
  #block-retailmediafc-primary-local-tasks {
    display: none;
  }
}
#block-retailmediafc-primary-local-tasks ul {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
#block-retailmediafc-primary-local-tasks ul li a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  color: #222;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin: 0 5px;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
}
#block-retailmediafc-primary-local-tasks ul li a:hover {
  background: #2d4189;
  color: #fff;
}

.messages__wrapper {
  background: #cdf6cd;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}
.messages__wrapper .messages--status:nth-child(2) {
  display: none;
}

div[role=alert] {
  padding: 15px 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  background: #f6cdcd;
}

table {
  width: 100%;
  background: #fff;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-size: 16px;
}
table thead {
  background: #000;
}
table thead th {
  padding: 15px !important;
  color: #fff !important;
}
table thead th a {
  color: #fff !important;
}
table thead th a:hover {
  color: #2d4189 !important;
}
table tbody tr td {
  padding: 15px !important;
}
table tbody tr td a {
  color: #211855;
}
table tbody tr td a:hover {
  text-decoration: underline;
  color: #000;
}
table tbody tr:hover td {
  background-color: #f5f5f5 !important;
}

form input {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-bottom: 20px;
}
@media (orientation: landscape) {
  form input {
    max-width: 500px;
  }
}

/*--- MAIN HEADER ------------------------------------------------------------------------------------------------------------------------------*/
header#mainheader {
  width: 100%;
  background: #f8f8f9;
  margin: 0;
}
@media (orientation: landscape) {
  header#mainheader {
    padding: 15px 25px;
    height: 125px;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
  }
}
@media (orientation: portrait) {
  header#mainheader #block-retailmediafc-main-menu,
  header#mainheader #block-retailmediafc-account-menu {
    display: none;
  }
}
header#mainheader .container > div {
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  min-height: 110px;
}
@media (orientation: portrait) {
  header#mainheader .container > div {
    min-height: 65px;
  }
}
header#mainheader .container > div #block-retailmediafc-site-branding {
  position: absolute;
  left: 0;
  top: 0;
}
@media (orientation: portrait) {
  header#mainheader .container > div #block-retailmediafc-site-branding {
    top: 0;
  }
}
header#mainheader .container > div #block-retailmediafc-site-branding img {
  max-width: 78px;
}
@media (orientation: portrait) {
  header#mainheader .container > div #block-retailmediafc-site-branding img {
    max-width: 58px;
  }
}
header#mainheader .container > div ul {
  display: flex;
  align-items: center;
  justify-content: end;
}
header#mainheader .container > div ul li {
  margin-left: 25px;
}
header#mainheader .container > div ul li a {
  text-transform: uppercase;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  color: #5d4999;
}
header#mainheader .container > div ul li a:hover {
  color: #211855;
}
header#mainheader .container > div ul li a[data-drupal-link-system-path="user/login"], header#mainheader .container > div ul li a[data-drupal-link-system-path="user/logout"] {
  color: #fff;
  background: #cf6367;
  font-weight: 800;
  padding: 7px 15px;
}
header#mainheader .container > div ul li a[data-drupal-link-system-path="user/login"]:hover, header#mainheader .container > div ul li a[data-drupal-link-system-path="user/logout"]:hover {
  background-color: #211855;
}

/*--- TOP BAR ---------------------------------------------------*/
.top {
  width: 100%;
  background: #2d4189;
  padding: 0;
  margin: 0;
  min-height: 200px;
}

/*--- EXTRAS TOP ---------------------------------------------------*/
.extras-top {
  width: 100%;
  padding: 0;
  margin: 20px 0;
}
@media (orientation: portrait) {
  .extras-top .container {
    padding: 0;
  }
}

/*--- MAIN CONTENT -----------------------------------------*/
@media (orientation: portrait) {
  main .container {
    display: flex;
    flex-direction: column;
  }
}
@media (orientation: portrait) {
  main .container .content {
    width: 100%;
  }
}
@media (orientation: portrait) {
  main .container .sidebar {
    width: 100%;
  }
}
main .container .sidebar img {
  margin-bottom: 20px;
}

/*--- HOME ------------------------------------------------------*/
.node-id-1 .top {
  padding: 0 !important;
}
.node-id-1 .top img {
  display: block;
}
@media (orientation: portrait) {
  .node-id-1 .top .banners-home .desktop {
    display: none;
  }
}
@media (orientation: landscape) {
  .node-id-1 .top .banners-home .mobile {
    display: none;
  }
}
.node-id-1 .extras-top {
  display: none;
}
.node-id-1 main > .container {
  display: flex;
  padding: 20px 0;
}
.node-id-1 main > .container .content {
  display: flex;
  flex-direction: column;
}
@media screen and (orientation: landscape) {
  .node-id-1 main > .container .content {
    width: 75%;
  }
}
@media screen and (orientation: landscape) {
  .node-id-1 main > .container aside {
    width: 20%;
  }
}
.node-id-1 main > .container .noticia-home,
.node-id-1 main > .container .artigo-home,
.node-id-1 main > .container .agenda-home {
  background: #5eb7f4 url(img/bg-noticia-home-odd.png) center center no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 0 20px 0;
  padding: 20px;
}
.node-id-1 main > .container .noticia-home .views-row,
.node-id-1 main > .container .artigo-home .views-row,
.node-id-1 main > .container .agenda-home .views-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  grid-template-areas: "assunto imagem" "titulo imagem";
  align-items: end;
}
@media (orientation: portrait) {
  .node-id-1 main > .container .noticia-home .views-row,
  .node-id-1 main > .container .artigo-home .views-row,
  .node-id-1 main > .container .agenda-home .views-row {
    display: block;
  }
}
.node-id-1 main > .container .noticia-home .views-row .views-field-field-imagem-destacada,
.node-id-1 main > .container .artigo-home .views-row .views-field-field-imagem-destacada,
.node-id-1 main > .container .agenda-home .views-row .views-field-field-imagem-destacada {
  grid-area: imagem;
  height: 100%;
}
.node-id-1 main > .container .noticia-home .views-row .views-field-field-assunto,
.node-id-1 main > .container .artigo-home .views-row .views-field-field-assunto,
.node-id-1 main > .container .agenda-home .views-row .views-field-field-assunto {
  grid-area: assunto;
  margin-top: 0;
  margin-bottom: 10px;
}
.node-id-1 main > .container .noticia-home .views-row .views-field-title,
.node-id-1 main > .container .artigo-home .views-row .views-field-title,
.node-id-1 main > .container .agenda-home .views-row .views-field-title {
  grid-area: titulo;
  align-self: start;
  margin-top: 0;
}
@media screen and (orientation: landscape) {
  .node-id-1 main > .container .noticia-home img,
  .node-id-1 main > .container .artigo-home img,
  .node-id-1 main > .container .agenda-home img {
    max-width: 490px;
  }
}
.node-id-1 main > .container .noticia-home .views-field-field-assunto,
.node-id-1 main > .container .noticia-home .views-field-nothing,
.node-id-1 main > .container .artigo-home .views-field-field-assunto,
.node-id-1 main > .container .artigo-home .views-field-nothing,
.node-id-1 main > .container .agenda-home .views-field-field-assunto,
.node-id-1 main > .container .agenda-home .views-field-nothing {
  font-size: 14px;
  text-transform: uppercase;
  margin: 5px 0 10px 0;
}
.node-id-1 main > .container .noticia-home .views-field-field-assunto a,
.node-id-1 main > .container .noticia-home .views-field-nothing a,
.node-id-1 main > .container .artigo-home .views-field-field-assunto a,
.node-id-1 main > .container .artigo-home .views-field-nothing a,
.node-id-1 main > .container .agenda-home .views-field-field-assunto a,
.node-id-1 main > .container .agenda-home .views-field-nothing a {
  color: #fff;
  background: #211855;
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.node-id-1 main > .container .noticia-home .views-field-title,
.node-id-1 main > .container .artigo-home .views-field-title,
.node-id-1 main > .container .agenda-home .views-field-title {
  font-size: 19px;
  margin-top: 0;
}
.node-id-1 main > .container .noticia-home .views-field-title a,
.node-id-1 main > .container .artigo-home .views-field-title a,
.node-id-1 main > .container .agenda-home .views-field-title a {
  color: #222;
  font-weight: 700;
  font-size: 22px;
}
.node-id-1 main > .container .artigo-home {
  background: #5eb7f4 url(img/bg-noticia-home-even.png) center center no-repeat;
  background-size: cover;
}
.node-id-1 main > .container .artigo-home .views-row {
  grid-template-areas: "imagem assunto" "imagem titulo";
}
.node-id-1 .podcast {
  background: #211855 url(img/bg-podcast-home.webp) center center no-repeat;
  background-size: cover;
  margin-bottom: 40px;
  padding: 20px 0;
}
@media (orientation: portrait) {
  .node-id-1 .podcast {
    background: #211855 url(img/bg-podcast-home-mob.jpg) center center no-repeat;
    background-size: cover;
  }
}
.node-id-1 .podcast .container .row {
  display: flex;
  gap: 20px;
}
@media (orientation: portrait) {
  .node-id-1 .podcast .container .row {
    flex-direction: column;
  }
}
.node-id-1 .podcast .container .row .col-1 {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (orientation: portrait) {
  .node-id-1 .podcast .container .row .col-1 {
    width: 100%;
  }
}
.node-id-1 .podcast .container .row .col-2 {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (orientation: portrait) {
  .node-id-1 .podcast .container .row .col-2 {
    width: 100%;
    margin: 40px 0;
  }
}
.node-id-1 .podcast .container .row .col-3 {
  width: 40%;
  display: flex;
  align-items: center;
}
@media (orientation: portrait) {
  .node-id-1 .podcast .container .row .col-3 {
    width: 100%;
  }
}
.node-id-1 .podcast .container .row .col-3 .podcasts-home .field-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  grid-template-areas: "imagem h3" "imagem titulo";
}
@media (orientation: portrait) {
  .node-id-1 .podcast .container .row .col-3 .podcasts-home .field-content {
    display: block;
    text-align: center;
  }
}
.node-id-1 .podcast .container .row .col-3 .podcasts-home .field-content .imagem {
  grid-area: imagem;
}
.node-id-1 .podcast .container .row .col-3 .podcasts-home .field-content .imagem img {
  border-radius: 10px;
}
.node-id-1 .podcast .container .row .col-3 .podcasts-home .field-content h3 {
  grid-area: h3;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}
.node-id-1 .podcast .container .row .col-3 .podcasts-home .field-content .titulo {
  grid-area: titulo;
  font-size: 16px;
}
.node-id-1 .podcast .container .row .col-3 .podcasts-home .field-content .titulo a {
  color: #fff;
}
.node-id-1 .banner-mega {
  margin-bottom: 40px;
}

.ui-dialog-titlebar {
  text-align: center;
  background: #211855;
}
.ui-dialog-titlebar .ui-dialog-title {
  width: 100%;
  text-align: center;
  font-size: 21px;
  color: #fff;
}

.webform-confirmation-modal--content {
  padding: 20px 20px 0 20px !important;
  font-size: 17px;
  text-align: center;
}

.ui-widget-overlay {
  background: #000;
}

/*--- LISTA NOTICIAS e ARTIGOS---------------------------------------------------*/
.node-type-page .top {
  background: #2d4189 url(img/bg-top-internas2.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 100px 0;
}
.node-type-page .top .container {
  width: 100%;
}
.node-type-page .top .container h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 32px;
  max-width: 300px;
}
@media (orientation: landscape) {
  .node-type-page main .container {
    display: flex;
    gap: 40px;
  }
}
@media (orientation: landscape) {
  .node-type-page main .container .content {
    width: 75%;
  }
}
.node-type-page main .container .content .todos-artigos,
.node-type-page main .container .content .todas-noticias {
  margin: 0 0 40px 0;
}
.node-type-page main .container .content .todos-artigos h3,
.node-type-page main .container .content .todas-noticias h3 {
  color: #5d4999;
  margin: 0 0 20px 0;
  font-size: 24px;
}
.node-type-page main .container .content .todos-artigos .row,
.node-type-page main .container .content .todas-noticias .row {
  background: #5eb7f4 url(img/bg-noticia-home-odd.png) center center no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 0 20px 0;
  padding: 20px;
}
@media (orientation: landscape) {
  .node-type-page main .container .content .todos-artigos .row,
  .node-type-page main .container .content .todas-noticias .row {
    display: flex;
    gap: 20px;
  }
}
.node-type-page main .container .content .todos-artigos .row .col-1,
.node-type-page main .container .content .todas-noticias .row .col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (orientation: landscape) {
  .node-type-page main .container .content .todos-artigos .row .col-1,
  .node-type-page main .container .content .todas-noticias .row .col-1 {
    width: 50%;
  }
}
.node-type-page main .container .content .todos-artigos .row .col-1 .data,
.node-type-page main .container .content .todas-noticias .row .col-1 .data {
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0 10px 0;
}
@media (orientation: landscape) {
  .node-type-page main .container .content .todos-artigos .row .col-1 .titulo,
  .node-type-page main .container .content .todas-noticias .row .col-1 .titulo {
    max-width: 80%;
  }
}
.node-type-page main .container .content .todos-artigos .row .col-1 .titulo h4,
.node-type-page main .container .content .todas-noticias .row .col-1 .titulo h4 {
  font-size: 20px;
  margin: 0 0 10px 0;
}
.node-type-page main .container .content .todos-artigos .row .col-1 .titulo h4 a,
.node-type-page main .container .content .todas-noticias .row .col-1 .titulo h4 a {
  color: #000;
  font-weight: 700;
}
.node-type-page main .container .content .todos-artigos .row .col-1 .chamada,
.node-type-page main .container .content .todas-noticias .row .col-1 .chamada {
  margin-bottom: 20px;
}
.node-type-page main .container .content .todos-artigos .row .col-1 .link a,
.node-type-page main .container .content .todas-noticias .row .col-1 .link a {
  color: #c1272d;
  font-weight: 700;
}
.node-type-page main .container .content .todos-artigos .row .col-1 .link a:hover,
.node-type-page main .container .content .todas-noticias .row .col-1 .link a:hover {
  color: #211855;
}
@media (orientation: landscape) {
  .node-type-page main .container .content .todos-artigos .row .col-2,
  .node-type-page main .container .content .todas-noticias .row .col-2 {
    width: 50%;
  }
}
@media (orientation: landscape) {
  .node-type-page main .container .sidebar {
    width: 20%;
  }
}

/*--- Noticia / Artigo / Agenda------------------------------------------------------*/
.node-type-agenda .top,
.node-type-artigos .top,
.node-type-noticia .top {
  background: #2d4189 url(img/bg-top-internas2.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 100px 0;
}
@media (orientation: portrait) {
  .node-type-agenda .top,
  .node-type-artigos .top,
  .node-type-noticia .top {
    padding: 0;
  }
}
.node-type-agenda .top .container,
.node-type-artigos .top .container,
.node-type-noticia .top .container {
  width: 100%;
}
.node-type-agenda .top .container h3,
.node-type-artigos .top .container h3,
.node-type-noticia .top .container h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 32px;
}
@media (orientation: landscape) {
  .node-type-agenda main .container,
  .node-type-artigos main .container,
  .node-type-noticia main .container {
    display: flex;
    gap: 40px;
  }
}
.node-type-agenda main .container .content,
.node-type-artigos main .container .content,
.node-type-noticia main .container .content {
  display: block;
}
@media (orientation: landscape) {
  .node-type-agenda main .container .content,
  .node-type-artigos main .container .content,
  .node-type-noticia main .container .content {
    width: 75%;
  }
}
.node-type-agenda main .container .content .mais-noticias,
.node-type-artigos main .container .content .mais-noticias,
.node-type-noticia main .container .content .mais-noticias {
  margin: 40px 0;
}
.node-type-agenda main .container .content .mais-noticias h3,
.node-type-artigos main .container .content .mais-noticias h3,
.node-type-noticia main .container .content .mais-noticias h3 {
  color: #5d4999;
  margin: 0 0 20px 0;
  font-size: 24px;
}
.node-type-agenda main .container .content .mais-noticias .row,
.node-type-artigos main .container .content .mais-noticias .row,
.node-type-noticia main .container .content .mais-noticias .row {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
}
@media (orientation: landscape) {
  .node-type-agenda main .container .content .mais-noticias .row,
  .node-type-artigos main .container .content .mais-noticias .row,
  .node-type-noticia main .container .content .mais-noticias .row {
    display: flex;
    gap: 20px;
  }
}
.node-type-agenda main .container .content .mais-noticias .row .col-1,
.node-type-artigos main .container .content .mais-noticias .row .col-1,
.node-type-noticia main .container .content .mais-noticias .row .col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (orientation: landscape) {
  .node-type-agenda main .container .content .mais-noticias .row .col-1,
  .node-type-artigos main .container .content .mais-noticias .row .col-1,
  .node-type-noticia main .container .content .mais-noticias .row .col-1 {
    width: 75%;
  }
}
.node-type-agenda main .container .content .mais-noticias .row .col-1 .data,
.node-type-artigos main .container .content .mais-noticias .row .col-1 .data,
.node-type-noticia main .container .content .mais-noticias .row .col-1 .data {
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0 10px 0;
}
@media (orientation: landscape) {
  .node-type-agenda main .container .content .mais-noticias .row .col-1 .titulo,
  .node-type-artigos main .container .content .mais-noticias .row .col-1 .titulo,
  .node-type-noticia main .container .content .mais-noticias .row .col-1 .titulo {
    max-width: 80%;
  }
}
.node-type-agenda main .container .content .mais-noticias .row .col-1 .titulo h4,
.node-type-artigos main .container .content .mais-noticias .row .col-1 .titulo h4,
.node-type-noticia main .container .content .mais-noticias .row .col-1 .titulo h4 {
  font-size: 20px;
  margin: 0 0 10px 0;
}
.node-type-agenda main .container .content .mais-noticias .row .col-1 .titulo h4 a,
.node-type-artigos main .container .content .mais-noticias .row .col-1 .titulo h4 a,
.node-type-noticia main .container .content .mais-noticias .row .col-1 .titulo h4 a {
  color: #000;
  font-weight: 700;
}
@media (orientation: landscape) {
  .node-type-agenda main .container .content .mais-noticias .row .col-2,
  .node-type-artigos main .container .content .mais-noticias .row .col-2,
  .node-type-noticia main .container .content .mais-noticias .row .col-2 {
    width: 20%;
  }
}
@media (orientation: landscape) {
  .node-type-agenda main .container .sidebar,
  .node-type-artigos main .container .sidebar,
  .node-type-noticia main .container .sidebar {
    width: 20%;
  }
}
.node-type-agenda main .container .sidebar .mais-lidas,
.node-type-artigos main .container .sidebar .mais-lidas,
.node-type-noticia main .container .sidebar .mais-lidas {
  margin-bottom: 40px;
}
.node-type-agenda main .container .sidebar .mais-lidas h3,
.node-type-artigos main .container .sidebar .mais-lidas h3,
.node-type-noticia main .container .sidebar .mais-lidas h3 {
  color: #5d4999;
  margin: 0 0 20px 0;
  font-size: 21px;
}
.node-type-agenda main .container .sidebar .mais-lidas .views-row,
.node-type-artigos main .container .sidebar .mais-lidas .views-row,
.node-type-noticia main .container .sidebar .mais-lidas .views-row {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.node-type-agenda main .container .sidebar .mais-lidas .views-row .views-field-created,
.node-type-artigos main .container .sidebar .mais-lidas .views-row .views-field-created,
.node-type-noticia main .container .sidebar .mais-lidas .views-row .views-field-created {
  font-size: 14px;
  font-weight: 700;
  margin: 20px 0 10px 0;
}
.node-type-agenda main .container .sidebar .mais-lidas .views-row .views-field-title a,
.node-type-artigos main .container .sidebar .mais-lidas .views-row .views-field-title a,
.node-type-noticia main .container .sidebar .mais-lidas .views-row .views-field-title a {
  color: #000;
  font-weight: 800;
}

/*--- LOGIN DO USUARIO -------------------------------------------------------------------------------------------------------------------------*/
.page-user-login {
  background: #2d4189;
}
.page-user-login header,
.page-user-login .top,
.page-user-login .extras-top,
.page-user-login .extras-bottom,
.page-user-login .sidebar,
.page-user-login #block-retailmediafc-page-title {
  display: none;
}
.page-user-login main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-user-login main div[aria-label="Mensagem de erro"] {
  max-width: 350px;
  text-align: center;
}
.page-user-login main div[aria-label="Mensagem de erro"] a {
  font-weight: bold;
  display: inline-block;
  width: 100%;
  color: #000;
  text-decoration: underline;
}
.page-user-login #user-login-form {
  width: 100%;
  max-width: 350px;
  padding: 170px 25px 25px 25px;
  border-radius: 7px;
  position: relative;
  margin-bottom: 20px;
  background: #fff url(img/logo.webp) center 20px no-repeat;
  background-size: 100px;
}
@media (orientation: portrait) {
  .page-user-login #user-login-form {
    max-width: 80%;
    margin: auto 10%;
  }
}
.page-user-login #user-login-form label {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
}
.page-user-login #user-login-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-bottom: 20px;
}
.page-user-login #user-login-form .description {
  display: none;
}

/*--- MAIS PAGINAS INTERNAS ----------------------------------------------------------------------------------------*/
.route-entity-user-canonical .container,
.route-user-register .container,
.route-user-pass .container,
.route-entity-user-edit_form .container {
  max-width: 100%;
}
@media (orientation: portrait) {
  .route-entity-user-canonical .container,
  .route-user-register .container,
  .route-user-pass .container,
  .route-entity-user-edit_form .container {
    padding: 0;
  }
}
@media (orientation: landscape) {
  .route-entity-user-canonical .container,
  .route-user-register .container,
  .route-user-pass .container,
  .route-entity-user-edit_form .container {
    display: flex;
    margin: 0;
    padding: 0;
  }
}
.route-entity-user-canonical .container main,
.route-user-register .container main,
.route-user-pass .container main,
.route-entity-user-edit_form .container main {
  padding: 50px;
  background: #f9fafc;
  width: calc(100% - 250px);
}
@media (orientation: portrait) {
  .route-entity-user-canonical .container main,
  .route-user-register .container main,
  .route-user-pass .container main,
  .route-entity-user-edit_form .container main {
    width: 100%;
    padding: 7%;
  }
}
.route-entity-user-canonical .container main h1,
.route-user-register .container main h1,
.route-user-pass .container main h1,
.route-entity-user-edit_form .container main h1 {
  font-weight: 700;
  margin-bottom: 15px;
}
.route-entity-user-canonical .container main .form-item-current-pass,
.route-user-register .container main .form-item-current-pass,
.route-user-pass .container main .form-item-current-pass,
.route-entity-user-edit_form .container main .form-item-current-pass {
  display: none;
}
.route-entity-user-canonical .container main .password-confirm-message,
.route-user-register .container main .password-confirm-message,
.route-user-pass .container main .password-confirm-message,
.route-entity-user-edit_form .container main .password-confirm-message {
  display: none;
}
.route-entity-user-canonical .container main #user-form,
.route-entity-user-canonical .container main #user-pass,
.route-entity-user-canonical .container main #edit-field-uf,
.route-entity-user-canonical .container main #user-login-form,
.route-entity-user-canonical .container main #user-register-form,
.route-user-register .container main #user-form,
.route-user-register .container main #user-pass,
.route-user-register .container main #edit-field-uf,
.route-user-register .container main #user-login-form,
.route-user-register .container main #user-register-form,
.route-user-pass .container main #user-form,
.route-user-pass .container main #user-pass,
.route-user-pass .container main #edit-field-uf,
.route-user-pass .container main #user-login-form,
.route-user-pass .container main #user-register-form,
.route-entity-user-edit_form .container main #user-form,
.route-entity-user-edit_form .container main #user-pass,
.route-entity-user-edit_form .container main #edit-field-uf,
.route-entity-user-edit_form .container main #user-login-form,
.route-entity-user-edit_form .container main #user-register-form {
  padding: 25px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.route-entity-user-canonical .container main #user-form label,
.route-entity-user-canonical .container main #user-pass label,
.route-entity-user-canonical .container main #edit-field-uf label,
.route-entity-user-canonical .container main #user-login-form label,
.route-entity-user-canonical .container main #user-register-form label,
.route-user-register .container main #user-form label,
.route-user-register .container main #user-pass label,
.route-user-register .container main #edit-field-uf label,
.route-user-register .container main #user-login-form label,
.route-user-register .container main #user-register-form label,
.route-user-pass .container main #user-form label,
.route-user-pass .container main #user-pass label,
.route-user-pass .container main #edit-field-uf label,
.route-user-pass .container main #user-login-form label,
.route-user-pass .container main #user-register-form label,
.route-entity-user-edit_form .container main #user-form label,
.route-entity-user-edit_form .container main #user-pass label,
.route-entity-user-edit_form .container main #edit-field-uf label,
.route-entity-user-edit_form .container main #user-login-form label,
.route-entity-user-edit_form .container main #user-register-form label {
  display: inline-block;
  width: 100%;
}
.route-entity-user-canonical .container main #user-form .form-text,
.route-entity-user-canonical .container main #user-form .form-email,
.route-entity-user-canonical .container main #user-pass .form-text,
.route-entity-user-canonical .container main #user-pass .form-email,
.route-entity-user-canonical .container main #edit-field-uf .form-text,
.route-entity-user-canonical .container main #edit-field-uf .form-email,
.route-entity-user-canonical .container main #user-login-form .form-text,
.route-entity-user-canonical .container main #user-login-form .form-email,
.route-entity-user-canonical .container main #user-register-form .form-text,
.route-entity-user-canonical .container main #user-register-form .form-email,
.route-user-register .container main #user-form .form-text,
.route-user-register .container main #user-form .form-email,
.route-user-register .container main #user-pass .form-text,
.route-user-register .container main #user-pass .form-email,
.route-user-register .container main #edit-field-uf .form-text,
.route-user-register .container main #edit-field-uf .form-email,
.route-user-register .container main #user-login-form .form-text,
.route-user-register .container main #user-login-form .form-email,
.route-user-register .container main #user-register-form .form-text,
.route-user-register .container main #user-register-form .form-email,
.route-user-pass .container main #user-form .form-text,
.route-user-pass .container main #user-form .form-email,
.route-user-pass .container main #user-pass .form-text,
.route-user-pass .container main #user-pass .form-email,
.route-user-pass .container main #edit-field-uf .form-text,
.route-user-pass .container main #edit-field-uf .form-email,
.route-user-pass .container main #user-login-form .form-text,
.route-user-pass .container main #user-login-form .form-email,
.route-user-pass .container main #user-register-form .form-text,
.route-user-pass .container main #user-register-form .form-email,
.route-entity-user-edit_form .container main #user-form .form-text,
.route-entity-user-edit_form .container main #user-form .form-email,
.route-entity-user-edit_form .container main #user-pass .form-text,
.route-entity-user-edit_form .container main #user-pass .form-email,
.route-entity-user-edit_form .container main #edit-field-uf .form-text,
.route-entity-user-edit_form .container main #edit-field-uf .form-email,
.route-entity-user-edit_form .container main #user-login-form .form-text,
.route-entity-user-edit_form .container main #user-login-form .form-email,
.route-entity-user-edit_form .container main #user-register-form .form-text,
.route-entity-user-edit_form .container main #user-register-form .form-email {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-bottom: 20px;
}
@media (orientation: portrait) {
  .route-entity-user-canonical .container main #user-form .form-text,
  .route-entity-user-canonical .container main #user-form .form-email,
  .route-entity-user-canonical .container main #user-pass .form-text,
  .route-entity-user-canonical .container main #user-pass .form-email,
  .route-entity-user-canonical .container main #edit-field-uf .form-text,
  .route-entity-user-canonical .container main #edit-field-uf .form-email,
  .route-entity-user-canonical .container main #user-login-form .form-text,
  .route-entity-user-canonical .container main #user-login-form .form-email,
  .route-entity-user-canonical .container main #user-register-form .form-text,
  .route-entity-user-canonical .container main #user-register-form .form-email,
  .route-user-register .container main #user-form .form-text,
  .route-user-register .container main #user-form .form-email,
  .route-user-register .container main #user-pass .form-text,
  .route-user-register .container main #user-pass .form-email,
  .route-user-register .container main #edit-field-uf .form-text,
  .route-user-register .container main #edit-field-uf .form-email,
  .route-user-register .container main #user-login-form .form-text,
  .route-user-register .container main #user-login-form .form-email,
  .route-user-register .container main #user-register-form .form-text,
  .route-user-register .container main #user-register-form .form-email,
  .route-user-pass .container main #user-form .form-text,
  .route-user-pass .container main #user-form .form-email,
  .route-user-pass .container main #user-pass .form-text,
  .route-user-pass .container main #user-pass .form-email,
  .route-user-pass .container main #edit-field-uf .form-text,
  .route-user-pass .container main #edit-field-uf .form-email,
  .route-user-pass .container main #user-login-form .form-text,
  .route-user-pass .container main #user-login-form .form-email,
  .route-user-pass .container main #user-register-form .form-text,
  .route-user-pass .container main #user-register-form .form-email,
  .route-entity-user-edit_form .container main #user-form .form-text,
  .route-entity-user-edit_form .container main #user-form .form-email,
  .route-entity-user-edit_form .container main #user-pass .form-text,
  .route-entity-user-edit_form .container main #user-pass .form-email,
  .route-entity-user-edit_form .container main #edit-field-uf .form-text,
  .route-entity-user-edit_form .container main #edit-field-uf .form-email,
  .route-entity-user-edit_form .container main #user-login-form .form-text,
  .route-entity-user-edit_form .container main #user-login-form .form-email,
  .route-entity-user-edit_form .container main #user-register-form .form-text,
  .route-entity-user-edit_form .container main #user-register-form .form-email {
    max-width: 100%;
  }
}
.route-entity-user-canonical .container main #user-form .description,
.route-entity-user-canonical .container main #user-pass .description,
.route-entity-user-canonical .container main #edit-field-uf .description,
.route-entity-user-canonical .container main #user-login-form .description,
.route-entity-user-canonical .container main #user-register-form .description,
.route-user-register .container main #user-form .description,
.route-user-register .container main #user-pass .description,
.route-user-register .container main #edit-field-uf .description,
.route-user-register .container main #user-login-form .description,
.route-user-register .container main #user-register-form .description,
.route-user-pass .container main #user-form .description,
.route-user-pass .container main #user-pass .description,
.route-user-pass .container main #edit-field-uf .description,
.route-user-pass .container main #user-login-form .description,
.route-user-pass .container main #user-register-form .description,
.route-entity-user-edit_form .container main #user-form .description,
.route-entity-user-edit_form .container main #user-pass .description,
.route-entity-user-edit_form .container main #edit-field-uf .description,
.route-entity-user-edit_form .container main #user-login-form .description,
.route-entity-user-edit_form .container main #user-register-form .description {
  display: none;
}
.route-entity-user-canonical .container main #edit-field-uf,
.route-user-register .container main #edit-field-uf,
.route-user-pass .container main #edit-field-uf,
.route-entity-user-edit_form .container main #edit-field-uf {
  padding: 10px;
  max-width: 180px;
  margin-bottom: 30px;
}
.route-entity-user-canonical div[role=alert],
.route-user-register div[role=alert],
.route-user-pass div[role=alert],
.route-entity-user-edit_form div[role=alert] {
  display: block;
  padding: 10px;
  border: 2px solid red;
}
.route-entity-user-canonical div[role=alert] em[class=placeholder],
.route-user-register div[role=alert] em[class=placeholder],
.route-user-pass div[role=alert] em[class=placeholder],
.route-entity-user-edit_form div[role=alert] em[class=placeholder] {
  background: transparent;
  color: #000 !important;
}

.route-user-register,
.route-entity-user-edit_form {
  background: #000;
}
.route-user-register #main-content,
.route-entity-user-edit_form #main-content {
  padding: 50px;
  background: #f9fafc;
  width: calc(100% - 250px);
}
@media (orientation: portrait) {
  .route-user-register #main-content,
  .route-entity-user-edit_form #main-content {
    width: 100%;
    padding: 7%;
  }
}

.route-user-register #main-content h1 {
  font-weight: 700;
  padding: 10px 0 10px 50px;
  background: transparent url(img/ico-newuser.png) left center no-repeat;
  background-size: 40px;
}

#edit-status--wrapper,
a#edit-delete {
  display: none;
}

/*--- PAGINA DE UM USUARIO ----------------------------------------------------------------------------------------*/
.route-entity-user-canonical {
  background: #000;
}
.route-entity-user-canonical #main-content {
  padding: 50px;
  background: #f9fafc;
  width: calc(100% - 250px);
}
.route-entity-user-canonical .views-field-field-nome-completo h1 {
  font-weight: 700;
  padding: 10px 0 10px 50px;
  background: transparent url(img/ico-user.png) left center no-repeat;
  background-size: 40px;
  margin-bottom: 15px !important;
}

/*--- FOOTER ------------------------------------------------------------*/
footer {
  padding: 25px 0;
  background: #211855;
  background-size: cover;
  color: #fff;
}
footer .container .row {
  display: flex;
  justify-content: space-between;
}
footer .container .row ul.social {
  display: flex;
  gap: 10px;
}
footer .container .row ul.social li a {
  color: #fff;
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
  height: 43px;
  width: 43px;
}
footer .container .row ul.social li a:hover {
  background-color: #5d4999;
}
footer .container .row ul.social li a i {
  font-size: 21px;
  display: inline-block;
}

#newsletter {
  margin-bottom: 40px;
  position: relative;
}
#newsletter .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#newsletter .container h2 {
  text-transform: uppercase;
  text-transform: uppercase;
  font-weight: 500;
  font-style: italic;
  color: #2d4189;
  margin-top: 0;
}
@media (orientation: landscape) {
  #newsletter .container h2 {
    max-width: 800px;
    width: 70%;
    font-size: 32px;
  }
}
#newsletter .container h2 strong {
  font-weight: 700;
}
#newsletter .container form {
  display: flex;
  gap: 20px;
  position: relative;
  margin-bottom: 40px;
}
@media (orientation: portrait) {
  #newsletter .container form {
    flex-direction: column;
    margin-bottom: 100px;
  }
}
#newsletter .container form input {
  padding: 15px;
  font-size: 16px;
  border-radius: 0;
  border: 2px solid #211855;
}
#newsletter .container form input#edit-submit {
  margin: 0;
  padding: 13px 35px;
  font-weight: 800;
  background: #c1272d;
  border-radius: 0;
  border: 2px solid #c1272d;
  transition: all 0.3s ease;
}
#newsletter .container form input#edit-submit:hover {
  background: #211855;
  cursor: pointer;
  border: 2px solid #211855;
}
#newsletter #edit-aceite--wrapper {
  width: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: -34px;
}
@media (orientation: portrait) {
  #newsletter #edit-aceite--wrapper {
    bottom: -104px;
  }
}
#newsletter #edit-aceite--wrapper .fieldset-wrapper {
  display: flex;
  gap: 0;
}
#newsletter #edit-aceite--wrapper .fieldset-wrapper .form-item-aceite-yes label {
  display: none;
}
#newsletter #edit-aceite--wrapper .fieldset-wrapper .js-form-item-aceite-no {
  display: none;
}

/*--- SIDEBAR STICKY ---------------------------------------------------*/
.sidebar {
  transition: transform 0.1s ease;
}
@media (orientation: landscape) {
  .sidebar.sticky {
    position: fixed;
    top: 135px;
  }
}
@media (orientation: landscape) {
  .sidebar.bottom {
    position: relative;
    margin-top: auto;
  }
}

/*--- POLITICA DE PROVACIDADE ---*/
.node-id-32 .top .container h1 {
  max-width: 100%;
}

/*-------------------------------------*/
/* Correção para o Swiper */
.swiper-container {
  width: 100%;
  overflow: hidden;
  max-width: 100%;
}

.swiper {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  width: auto !important; /* Sobrescreve o estilo inline problemático */
}

.swiper-slide {
  width: 100% !important; /* Forçar largura correta e sobrescrever valor inline */
  max-width: 100%;
  flex-shrink: 0;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}/*# sourceMappingURL=style.css.map */