{#
/**
 * @file
 * Template personalizado para a view banners_home
 */
#}

<div class="swiper-container">
  <div class="swiper">
    <div class="swiper-wrapper">
      {% for row in rows %}
        <div class="swiper-slide">
          {{ row.content }}
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div> 