<div id="overlay">

  <div class="content">
      <h2>ENTRE PARA O TIME QUE ESTÁ REVOLUCIONANDO O RETAIL MEDIA NO BRASIL. <strong>VEM COM A GENTE!</strong></h2>
      {{ drupal_entity('webform', 'cadastre_se', 'default') }}
      <button class="close">Fechar</button>
  </div>

</div><!-- overlay -->